
<form action='/animal' method='post'>
  <label for='AnimalName'>Animal name: </label>
  <input id='AnimalName' name='AnimalName' type='text'>
  <label for='AnimalType'>Animal Type: </label>
  <input id='AnimalType' name='AnimalType' type='text'>
  <label for='AnimalSex'>Animal Sex: </label>
  <input id='AnimalSex' name='AnimalSex' type='text'>
  <button type='submit'>Add animal</button>
</form>